li a {
    color: blueviolet;

}

body{
    /* background-image: url(templates/bgg.jpeg); */
    background-color: blanchedalmond; 
}

form {
    text-align: center;
    font-size: 2em;
}

ul :hover{
    color: goldenrod;
}

